[Unit]
Description=Mycroft derived from ovos-core 
After=pulseaudio.service

[Service]
User=pi
WorkingDirectory=/home/pi/
ExecStart=/home/pi/ovos-core/start-mycroft all
ExecStop=/home/pi/ovos-core/stop-mycroft
Type=forking
Restart=no
Environment="XDG_RUNTIME_DIR=/run/user/1000"

[Install]
WantedBy=multi-user.target
